# ============================================================
# Datos
# ============================================================

data/crudo/*.csv
data/final/*.csv

# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo
